<style type="text/css">

<!--
body {

scrollbar-face-color: #cccccc; 
scrollbar-arrow-color: #ffffff; 
scrollbar-track-color: #ffffff; 
scrollbar-highlight-color: #ffffff; 
scrollbar-shadow-color: #ffffff;
scrollbar-darkshadow-color: #ffffff; 
scrollbar-3dlight-color: #ffffff; }
}

A:link
{
COLOR: #666666;
FONT-FAMILY: ±¼¸²;
FONT-SIZE: 9pt;
TEXT-DECORATION: none
}
A:visited
{
COLOR: #666666;
FONT-FAMILY: ±¼¸²;
FONT-SIZE: 9pt;
TEXT-DECORATION: none
}

A:hover
{
COLOR: #3399ff;
FONT-FAMILY: ±¼¸²;
FONT-SIZE: 9pt;
TEXT-DECORATION: underline
}

A:active
{
COLOR: #3399ff;
FONT-FAMILY: ±¼¸²;
FONT-SIZE: 9pt;
TEXT-DECORATION: underline
}




input {font-size: 9pt; color:#555555; border:1 solid #cccccc;}
select {font-size: 12px; color:#555555; border:1 solid #cccccc;}
textarea {font-size: 9pt; color:#555555; border:1 solid #cccccc;}

scrollbar-face-color: #cccccc; 
scrollbar-arrow-color: #ffffff; 
scrollbar-track-color: #ededed; 
scrollbar-highlight-color: #ededed; 
scrollbar-shadow-color: #ededed;
scrollbar-darkshadow-color: #ededed; 
scrollbar-3dlight-color: #ededed; }

.box1 {font-size: 9pt; color:#555555; border:0;}

.box2 {font-size: 9pt; color:#555555; border:1 solid #ededed;}


.f13 { font-size: 13pt}
.f8 { font-size: 8pt}

th { font-size: 9pt; color: #000000; background-color: #FFBEE2}
td { font-size: 9pt; color: #666666}
-->
</style>
