<style type="text/css">
<!--
table {  font-size: 9pt; background-color:#efefef }
tr {  font-size: 9pt; background-color:#ffffff }
th {  font-size: 9pt; color: #ffffff; background-color: #008080}
td {  font-size: 9pt; font-family:µ¸¿ò,tahoma;}

A:link
{
    COLOR: #666666;
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #666666;
    FONT-FAMILY: ±¼¸²; 
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #3399ff;
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: underline
}

.f13 {  font-family: "MS Sans Serif"; font-size: 13pt; line-height: 200%; font-weight: bold}
.f8 {  font-size: 8pt}
-->
</style>
