<style type="text/css">
<!--

A:link
{
    COLOR: #0000CC
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #444444
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #3399ff;
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: underline
}
td { font-size: 9pt; color: black;}
.f13 {  font-family: "MS Sans Serif"; font-size: 13pt; line-height: 200%; font-weight: bold}
.f8 {  font-size: 8pt}
-->
</style>
