<style type="text/css">
<!--
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #D5C035; SCROLLBAR-SHADOW-COLOR: #D5C035; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #D5C035; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}

tr { font-size: 9pt; color:#343434; background-color:#ffffff }
th { font-size: 9pt; color: #FFFFFF; background-color: #99CCFF}
td { font-size: 9pt; color:#343434;}

input {font-size: 14pt; border-style: solid; border-width: 1px; border:1 solid; border-color:#DF9FBF; color:#343434;}
textarea {font-size: 9pt; border-style: solid; border-width: 1px; border:1 solid;  border-color:#DF9FBF; color:#343434;}
select {font-size: 9pt; border-style: solid; border-width: 1px; border:1 solid;  border-color:#DF9FBF; color:#343434;}

A:link
{
    COLOR: #0066CC;
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #CC3300;
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #DF9FBF;
    FONT-FAMILY: ±¼¸²;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}

.f13 { font-family: "MS Sans Serif"; font-size: 10pt; line-height: 200%; font-weight: bold; color:#343434;}
.f8 { font-size: 8pt; color:#343434;}
.a { border-width:0px;  color:#343434;}
.b {font-size: 9pt; border-style: solid; border-width: 1px; border:1 solid; border-color:#999999; color:#343434;}
-->
</style>

